services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"

  spring-boot:
    restart: always
    depends_on:
      - db
    build: .
    ports:
      - '8080:8080'